:root{
    --maincolor:rgb(165, 61, 34);
    --maincolor2:rgb(101, 206, 101);
    --highlightedbackground:linear-gradient(180deg, var(--maincolor), rgb(44, 94, 44), var(--maincolor));
    --textcolor:white;
    --secondcolor:rgb(165, 61, 34);
    --textbackground:rgb(43, 25, 9);

}
body{
    margin: 0;
    padding:0;
    background-color: rgb(126, 105, 85);
    font-size: 1.5rem;
    font-family: 'Roboto', cursive;
}

/* ----------------------------------------------------------------------
The HEADER
---------------------------------------------------------------------- */
Header{
    width: 100%;
    height: 95px;
    background: var(--highlightedbackground);
    color: var(--textcolor);
    font-variant: small-caps;
}
#headercontent{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
h1{
    margin:0;
    padding: 0;
    font-family: 'Rock Salt', cursive;
}


#logo{
    height: 10vh;
    margin:0px;
    position: absolute;
    right: 0;
    top:0
}


/* ----------------------------------------------------------------------
The MENU
---------------------------------------------------------------------- */
nav{
    background-color: var(--secondcolor);
    color:var(--textcolor);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}
ol{
    max-width: 1200px;;
    margin:0 auto;
    padding:0;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    
}

li{
    list-style-type: none;
    
    
}
a{
    text-decoration: none;
    color: var(--textcolor);
    
}
a:hover{
    background: var(--highlightedbackground);
    color:lightgrey;
    box-shadow: 5px 5px 10px black;
    font-weight: bolder;
}

/* ----------------------------------------------------------------------
The MAIN
---------------------------------------------------------------------- */
main{
    max-width: 1200px;
    text-align: justify;
    margin: 0 auto;
}

article{
    background-color: var(--textbackground);
    color: var(--textcolor);
    border-radius: 10px;
    padding:10px 50px;
    margin-top: 5vh;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px black;
    position: relative;
    overflow: auto;
}
h2{
    font-variant: small-caps;
    font-family: 'Rock Salt', cursive;
}
.img{
    width: 55%;

}
.img:hover{
    width: 100%;
}
p{
    width: 35%;
    position: absolute;
    right: 5%;
    margin: 0;
}

/* ----------------------------------------------------------------------
The FOOTER
---------------------------------------------------------------------- */

footer{
    background-color: var(--secondcolor)
}

/* ----------------------------------------------------------------------
EXTREME RESPONSE
---------------------------------------------------------------------- */

@media screen and (max-width:600px){
    body{
        font-size: 0.8rem;
    }
    #logo{
        height: 70px;
    }
    header{
        height: 70px;
    }
}

@media screen and (min-width:1800px){
    
    header{
        position: fixed;
        top:0;
        z-index: 100;
    }
    nav{
        width: 20%;
        height: 84vh;
        position: fixed;
        top:95px;
        left:0;
    }
    ol{
        width: 30%;
        margin-left: 0;
        display: block;
    }
    li{
        font-size: 2rem;
        padding: 3.8vh;
    }
    main{
        max-width: 1800px;
        margin: 20vh auto 0 25vw;
    }
    footer{
        width: 100%;
        position: fixed;
        bottom:0
    }
    footer ol{
        width: 100%;
        max-width: 2900px;
    }
    footer li{
        width: auto;
        display: inline-block;
        padding: 0 10vw;
        justify-content: space-around;
    }
}